.header-container {
    display: flex;
    background: #fff;
    height: 56px;
    padding: 0 16px;
    border-bottom: 1px solid #d9e3ed;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-item {
    flex: 1 1 0%;
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

.logo-container {
    margin-left: 40px;
}

.logo {
    width: 9%;
}

.header-item.header {
    text-align: center;
    margin: 0;
    color: #000;
}
.header-item.profile {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}