.login-container {
    height: 100%;
}

.login-content {
    max-width: 600px;
    background: #fff;
    border: 1px solid #d9e3ed;
    border-radius: 5px;
    padding: 60px !important;
}

.login-button {
    width: 250px;
    margin-bottom: 15px !important;
}

.login-button-content {
    text-align: left;
}

.login-button-text {
    font-size: 16px;
    vertical-align: middle;
}